body {
  background-color: #efefef;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom Classes */

.btn-apply{
  height: 100%;
  width:100%;
  font-family: "Roboto";
  font-weight: 700;
}

.center-date{
  border-left: 2px solid;
  border-right: 2px solid;
  border-color: rgb(156, 156, 156);
}

.date{
  font-size: 1.2rem;
  font-family: "Ubuntu";
  font-weight: 400;
}

.fill{
  height: 100vh;
  width: 1000vw;
  background-color: white;
  margin: 0;
  padding-left: 50vw;
  padding-right: 50vw;
}

.filld {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0;
}

.filld img {
  width: 100%;
  min-height: 50%
}

.form-box{
  background: #f0f0f0;
  border-radius: 7px;
  box-shadow: 0 0 10px #ccc;
  width:95vw;
  padding: 5vh 2vw;
  margin-top: 6vh;
  margin-bottom:4vh;

  animation: fadein 0.5s;
}

.form-section{
  margin: 4vh 0;
  padding: 0 2vw;
}

.form-login-section{
  margin: 2vh 0;
}

.form-style{
  font-family: "Space Mono";
  font-size: 1.2rem;
  text-align: left;
}

.job-body-head{
  border-bottom: 1px solid;
  border-color: rgb(209, 209, 209);
  padding-bottom: 1.5vh;
  padding-left: 1vw;
  padding-right: 1vw;
}

.job-body-main{
  border-bottom: 1px solid;
  border-color: rgb(209, 209, 209);
  padding: 4vh 1vw;
}

.job-body-footer{
  padding: 2vh 1vw 0 1vw;
}

.job-box{
  background: #f0f0f0;
  border-radius: 7px;
  box-shadow: 0 0 10px #ccc;
  width:95vw;
  padding: 4vh 2vw;
  margin-top: 6vh;
  margin-bottom:4vh;
}

.job-btn{
  font-family: "Montserrat";
  font-weight: 600;
}

.job-image{
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.job-role{
  /* background-color: rgba(82, 255, 134, 0.664); */
  background-color: rgba(78, 248, 219, 0.664);
  border-radius: 40px;
  font-family: "Space Mono";
  font-weight: 800;
  margin: 0.8vh 0.8vw;
  padding: 1vh 0vw 0.2vh;
}

.login-box{
  background: rgb(244, 244, 244);
  border-radius: 7px;
  border: 1px solid;
  font-family: "Poppins";
  padding: 1vh 10vw;
  width:50vw;
  height: 50vh;
}

.login-btn{
  border-color: #000;
  color: rgb(109, 109, 109);
  font-size: 1.2rem;
  padding: 1vh 1vw;
}

.login-btn:hover{
  background-color: #d6ebfb;
  color: rgb(109, 109, 109);
}

.login-btn:active{
  background-color: rgb(87, 107, 255);
  /* color: rgb(109, 109, 109); */
}

.login-container {
  width:100%;
  padding:70px 0px 70px 0px;
  height: 100vh;
  background-color: #d6ebfb;
}

.login-section{
  margin: 4vh 0;
}

.login-text{
  color: rgb(87, 107, 255);
  margin-bottom: 2vh;
}

.login-box-2{
  background: #f6fbff;
  border-radius: 7px;
  font-family: "Poppins";
  padding: 1vh 10vw;
  width:50vw;
}

.login-col{
  width:50vw;
  height: 100vh;
}

.login-container-2 {
  width:100%;
  padding:70px 0px 70px 0px;
  height: 100vh;
  background-color: #ffffff;
}

.login-p{
  position: absolute;
  font-family: "Poppins";
  color: white;
  font-size: 2.4rem;
  top: 50vh;
  left: 5.0vw;
}

.login-text-box{
  border-style: none none solid none;
  border-radius: 0;
  border-width: 2px;
  border-color: #000;
  padding-left: 0;
  padding-bottom: 1vh;
  background: #f6fbff;
}

.login-text-box:focus{
  border-style: none none solid none;
}

.login-title{
  position: absolute;
  font-family: "Poppins";
  color: white;
  font-size: 7rem;
  top: 31vh;
  left: 3.3vw;
}

.or{
  background-color: #ffffff;
  font-size: 1rem;
  padding: 0px 10px;
  margin-top: 100px;
}

.or-h2{
  width: 100%; 
   text-align: center; 
   border-bottom: 1px solid rgb(157, 157, 157); 
   line-height: 0.1em;
   margin: 2vh 0; 
   font-size: 0.9rem;
   color: rgb(145, 145, 145);
}

.or-span{
  background:rgb(255, 255, 255); 
    padding:0 10px; 
}

.social-btn-div{
  padding: 10px 25px;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.social-button{
  border-color: #000;
  color: rgb(109, 109, 109);
  padding: 0.5vh 1vw;
}

.social-button:hover{
  background-color: #d6ebfb;
  color: rgb(109, 109, 109);
}

.stats{
  font-size: 1.5rem;
  font-family: "Ubuntu";
  font-weight: 400;
  border-right: 2px solid;
  border-left: 2px solid;
  border-color: rgb(156, 156, 156);
}

.welcome-text{
  color:rgb(87, 107, 255);
  font-family: "Poppins";
  font-size: 3.5rem;
  font-weight: 700;

  animation: fadein 0.5s;
}

/* Bootstrap Classes */

.btn-danger:hover{
  background-color: rgb(236, 30, 30);
}

.btn-navbar{
  color:rgb(82, 82, 82);
}

.btn-navbar:hover{
  color:rgb(52, 76, 255);
}

.btn-success{
  background-color: rgb(0, 150, 50);
}

.btn-success:hover{
  background-color: rgb(0, 179, 60);
}

.card{
  box-shadow: 0 0px 8px #ccc;
  font-family: "Roboto";
  margin-bottom: 3vh;

  animation: fadein 0.5s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.card-header{
  background-color: #f9f9f9;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: left;
  padding: 2.5vh 1.5vw;
}

.card-duration{
  border-left: 0.5px solid;
  border-color:rgb(123, 123, 123);
}

.card-footer{
  margin-top: auto;
}

.dropdown{
  padding-left: 6vw;
  padding-right: 6vw;
}

.dropdown-menu{
  font-family: "Space Mono";
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  width: 28vw;
}

.dropdown-toggle{
  background-color: rgb(59, 88, 255);
}

.dropdown-toggle:focus{
  background-color: rgb(17, 53, 255);
}

.dropdown-toggle:hover{
  background-color: rgb(17, 53, 255);
}

.form{
  text-align: left;
}

.form-check-input{
  margin-right: 0.5vw;
}

.form-label{
  font-family: "Space Mono";
  font-size: 1.3rem;
  margin-bottom: 2vh;
  text-align: left;
}

.navbar{
  background-color: #d6ebfb;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 6vh;
  padding: 2vh 1vw;
}

.navbar-brand{
  color: rgb(52, 76, 255);
  font-family: "Montserrat";
  font-size: 1.8rem;
  font-weight: 700;
}

.nav-item{
  margin-left: 0.5vw;
}

/* Buffer */
